.form-cadastro {
    margin: 10px;
    color: #000;
}

.form-cadastro input {
    width: 100%;
    max-width: 250px;
    height: 15px;
    padding: 12px;
    border-radius: 5px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    color: #000;
}

.form-cadastro input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
  
.form-cadastro input:active {
    transform: scale(0.95);
}

.form-cadastro input:focus {
    border: 2px solid grey;
}